*{
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
}

/*Inicio Nav*/

.navbar-default{
	background-color: $color-nav;
}

.navbar-default .navbar-toggle {
    background-color: $background-menu;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:$color-menu;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color: $color-menu;
}

.icon{
	color: $color-menu;
	margin-left: 5%;
	padding-top:10px;
	font-size: 15px;
}

p{
	color: $color-menu;
	font-weight: bold;
	font-size: 25px;
	margin-top: -10%;
}

/*Fin Nav*/

/*Comienzo Welcome*/
.imagen-fondo{
	background-image: url('../img/tastyfoodintro.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.titulo{
	color: $color-menu;
	font-weight: bold;
	margin-top: 50%;
	font-size: 47px;
}

.btn-uno{
	background-color: $background-boton;
	border: none;
	border-radius: 8px;
	padding: 10px 150px;
	color: $color-menu;
	margin-top: 30%;
	font-size: 11px;
}

.btn-dos{
	background-color: $background-boton;
	border: none;
	border-radius: 8px;
	padding: 10px 150px;
	color: $color-menu;
	margin-top: 3%;
	font-size: 9px;
}

#frase{
	color: $color-menu;
}

/*Fin Welcome*/